version: '3.9'
services:
  backend:
    build: .
    command: uvicorn api.api:APP --host 0.0.0.0 --port 8000
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1